body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.lut{
    position: fixed;
    right: 0px;
    top: 300px;
    width: 100px;
    background-color: #133aac;
    padding: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lut a{
    margin-bottom: 10px;
}
.post my{
    position: relative;
}
.photo{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: 0;
}

.h1-img::before{
    content: '❤️️';
}
.h1-img::after{
    content: '❤️️';
}
.address::before{
    content: '🏠';
}
.tel::before{
    content: '☎️';
    }
.h1-img:hover{
    position: relative;
    background-color: aquamarine;
    color: brown;
}
.footer1:hover{
    opacity: 0.7;
    background-color: aquamarine;
    color: brown;
}
.button:hover{
    background-color: aquamarine;
    color: brown;
    opacity: 0.5;
    height: 30px;
    width: 80px;
}
.post:hover{
    background-color: aquamarine;
    color: white;
    opacity: 0,3;
    text-align: right;
    font-style: italic;
}
